/Project/ArchitectureSearch/__pycache__
/Project/ArchitectureSearch/ConfigGeneration
/Project/ArchitectureSearch/output
/Project/ArchitectureSearch/__pycache__
/Project/ConfigGeneration
/Project/output
/Project/Utils/__pycache__