/BP/ArchitectureSearch/__pycache__
/BP/ArchitectureSearch/ConfigGeneration
/BP/ArchitectureSearch/output
/BP/ArchitectureSearch/__pycache__
/BP/ConfigGeneration
/BP/output
/BP/Utils/__pycache__
/RP/WeightSearch_Evolution/__pycache__