/BP/ArchitectureSearch/ConfigGeneration
/BP/ArchitectureSearch/output
/BP/ConfigGeneration
/BP/output
**/__pycache__/
Utils/__pycache__/Dataset.cpython-312.pyc
Saves/evolutionary_neuron_network.model
**/Save